body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e1e6ff;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    display: flex;
}

/*This affects the whole section under Change i.e from h1 to the button*/
.Change{
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
}

/*This affects the form */
input{
    width: 85%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/*This affects the Update button*/
button{
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #5169e3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 12px;
}

button:hover{
    background-color: #182042;
}

/* Tablet */
@media (min-width: 768px) {
    .Change {
        padding: 30px;
        width: 80%;
    }
    button {
        padding: 18px;
        font-size: 18px;
    }
    input {
        padding: 12px;
        font-size: 16px;
    }
}

/* Laptop and Desktop */
@media (min-width: 1200px) {
    .Change {
        width: 50%;
        padding: 40px;
    }
    button {
        font-size: 20px;
        padding: 20px;
    }
}